* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 33px;
}

p {
  margin: 33px;
}

.update {
  margin: 0 auto;
}

.editerrors {
  coler: red;
}

li {
  margin-left: 33px;
  coler: red;
}

h2 {
  margin-top: 15px;
}

h4 {
  margin-top: 15px;
}

td {
 padding-bottom: 7px;
 padding-left: 5px;
 padding-right: 5px;
}

.flash {
  coler: gree
}





// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
